# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Auto generated data
Makefile
.tkenvrc
simulations/Makefile
simulations/ops-simu
simulations/out/
src/KOPSMsg_m.cc
src/KOPSMsg_m.h
src/KInternalMsg_m.cc
src/KInternalMsg_m.h
src/Makefile
src/out/
out/gcc-release/
ops-simu

out
simulations/results/

# Misc
*.swp
.cmdenv-log

# Ignore Python compiled module files
*.pyc

# qt GUI settings
.qtenvrc

# Ignore UBM and SWIM files (locations, events and properties)
events.txt
locations.txt
properties.txt

